* {
    font-family: Roboto, "Times New Roman", sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1F2937;
}

header, footer {
    padding-bottom: 4rem;
}

footer {
    padding-top: 3rem;
}

section {
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.logo {
    flex: 1;
    color: #f9FAF8;
    font-size: 1.5em;
    font-weight: bold;
}

ul, a {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 1.5rem;
    font-size: 1.125em;
    color: #E5E7EB;
}

/*  */

img {
    max-width: 100%;
}

.hero {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4rem;
    padding-top: 4rem;
}

.banner-text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.banner-img {
    max-width: 50%;
}

.banner-text h1 {
    color: #f9FAF8;
    font-size: 3em;
    font-weight: 900;
}

.banner-text p {
    color: #E5E7EB;
    font-size: 1.125em;
}

button {
    background: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    color: #f9FAF8;
    font-size: 1em;
    font-weight: 600;
    max-width: 25%;
}

/*  */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.info-template {
    display: flex;
    text-align: center;
    gap: 2rem;
}

.info-head h2 {
    color: #1F2937;
    font-size: 2.25em;
    font-weight: 800;
}

.insert-info p {
    color: #5c5c5c;
    font-size: 1.125em;
}

/*  */

.review {
    background-color: #E5E7EB;
}

.review-content {
    display: flex;
    flex-direction: column;
}

.comment p {
    color: #1F2937;
    font-size: 2.25em;
    font-style: italic;
}

.origin h6 {
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.5em;
}

/*  */

.signUp {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-around;
    padding: 4rem;
}

.signUp-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signUp-content h3, p {
    color: #FFFFFF;
}

.signUp-content h3 {
    font-size: 1.5em;
}

.secondary-btn {
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
}

/*  */


.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    color: #E5E7EB;
}

/*  */